.bundle
db/*.sqlite3
log/*.log
tmp/**/*
*.DS_Store
*.pkg
*.mpkg
*.dmg
*.zip
*.app
data.csv
*favorites.plist
ppd/
printers.conf
authorized_keys
Maya_AdLM_2012_License/postflight
edu.ohio.scripps.versions_lic/*.lic
*.sig
*.mdia.dsp_quattro_licenser/*/*.txt
edu.ohio.scripps.transcriva_licenser/transcriva_licenser.sh
edu.ohio.scripps.transcriva_licenser/com.bartastechnologies.transcriva2app.plist
edu.ohio.scripps.coda_lic/coda_licenser.sh
*.actual.json

OU Fonts/Galliard
OU Fonts/Frutiger

MouseLocator/MouseLocator.prefPane*

com.fetchsoftworks.fetch/fetch_licenser.sh
