.bundle
db/*.sqlite3
log/*.log
tmp/**/*
*.DS_Store
*.pkg
*.mpkg
*.dmg
*.dmg.plist
*.zip
*.app
data.csv
*favorites.plist
ppd/
printers.conf


OU Fonts/Galliard
OU Fonts/Frutiger

CINEMA_4D/
CINEMA_4D.dmg.plist

MouseLocator/MouseLocator.prefPane*

stereo_tool_and_bittersweet/**/*.aaxplugin
stereo_tool_and_bittersweet/**/*.component
stereo_tool_and_bittersweet/**/*.bundle
stereo_tool_and_bittersweet/**/*.vst

# Secret Files
*.actual.json
*.mdia.dsp_quattro_licenser/*/*.txt
*.sig
authorized_keys
com.fetchsoftworks.fetch/fetch_licenser.sh
edu.ohio.scripps.coda_lic/coda_licenser.sh
edu.ohio.scripps.transcriva_licenser/com.bartastechnologies.transcriva2app.plist
edu.ohio.scripps.transcriva_licenser/transcriva_licenser.sh
edu.ohio.scripps.versions_lic/*.lic
gridlab_backup.py
Maya_AdLM_2012_License/postflight
digisign_config.json
