<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>edu.ohio.scripps.lion_resume_disable</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Library/Management/lion_resume_disable/lion_resume_disable.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
