<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>edu.ohio.scripps.mdia.ilok_connect</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/ruby</string>
		<string>/Library/Management/ilok_connect/edu.ohio.scripps.mdia.ilok_connect.rb</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
