<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Auto Launch At Log-in</key>
	<true/>
	<key>Automatically Connect</key>
	<false/>
	<key>Broadcast Enable</key>
	<false/>
	<key>Broadcast List</key>
	<dict/>
	<key>Device List Columns</key>
	<array>
		<dict>
			<key></key>
			<string>Name</string>
			<key>DeviceListColumn Enable</key>
			<true/>
			<key>DeviceListColumn Identifier</key>
			<string>name</string>
			<key>DeviceListColumn Movable</key>
			<false/>
			<key>DeviceListColumn Resizable</key>
			<false/>
			<key>DeviceListColumn Width</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key></key>
			<string>Type</string>
			<key>DeviceListColumn Enable</key>
			<true/>
			<key>DeviceListColumn Identifier</key>
			<string>type</string>
			<key>DeviceListColumn Movable</key>
			<false/>
			<key>DeviceListColumn Resizable</key>
			<false/>
			<key>DeviceListColumn Width</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key></key>
			<string>Status</string>
			<key>DeviceListColumn Enable</key>
			<true/>
			<key>DeviceListColumn Identifier</key>
			<string>status</string>
			<key>DeviceListColumn Movable</key>
			<false/>
			<key>DeviceListColumn Resizable</key>
			<true/>
			<key>DeviceListColumn Width</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key></key>
			<string>Host Name</string>
			<key>DeviceListColumn Enable</key>
			<true/>
			<key>DeviceListColumn Identifier</key>
			<string>hostname</string>
			<key>DeviceListColumn Movable</key>
			<true/>
			<key>DeviceListColumn Resizable</key>
			<true/>
			<key>DeviceListColumn Width</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key></key>
			<string>Model Name</string>
			<key>DeviceListColumn Enable</key>
			<true/>
			<key>DeviceListColumn Identifier</key>
			<string>machinename</string>
			<key>DeviceListColumn Movable</key>
			<true/>
			<key>DeviceListColumn Resizable</key>
			<true/>
			<key>DeviceListColumn Width</key>
			<integer>83</integer>
		</dict>
		<dict>
			<key></key>
			<string>IP Address</string>
			<key>DeviceListColumn Enable</key>
			<false/>
			<key>DeviceListColumn Identifier</key>
			<string>ipaddress</string>
			<key>DeviceListColumn Movable</key>
			<true/>
			<key>DeviceListColumn Resizable</key>
			<true/>
			<key>DeviceListColumn Width</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key></key>
			<string>Ethernet Address</string>
			<key>DeviceListColumn Enable</key>
			<false/>
			<key>DeviceListColumn Identifier</key>
			<string>ethaddress</string>
			<key>DeviceListColumn Movable</key>
			<true/>
			<key>DeviceListColumn Resizable</key>
			<true/>
			<key>DeviceListColumn Width</key>
			<integer>130</integer>
		</dict>
		<dict>
			<key></key>
			<string>Auto Connect</string>
			<key>DeviceListColumn Enable</key>
			<false/>
			<key>DeviceListColumn Identifier</key>
			<string>autoconnect</string>
			<key>DeviceListColumn Movable</key>
			<true/>
			<key>DeviceListColumn Resizable</key>
			<true/>
			<key>DeviceListColumn Width</key>
			<integer>110</integer>
		</dict>
	</array>
	<key>Error Notify</key>
	<true/>
	<key>Hide Disconnect Message</key>
	<true/>
	<key>Main Window Frame</key>
	<array>
		<dict>
			<key>frame height</key>
			<real>512</real>
			<key>frame width</key>
			<real>1111</real>
			<key>frame x</key>
			<real>82</real>
			<key>frame y</key>
			<real>310</real>
		</dict>
	</array>
	<key>Plist Version</key>
	<string>v2.0</string>
	<key>Refresh Interval</key>
	<integer>10</integer>
	<key>Selected listView ID</key>
	<string></string>
	<key>Sorted Column ID</key>
	<string>name</string>
	<key>Sorted Column Order</key>
	<integer>1</integer>
	<key>Start By Minimization</key>
	<true/>
</dict>
</plist>
