#mainCenter {
	height:100%;
}

#titleframe {
	width: 100%;
	/*height: 92px;*/
	/*background-color: #CCCCCC;*/
	
}

#TopFrame {
	width: 100%;
	height: 100%;
	border: 0px;
}

#BottomFrame {
	width: 100%;
	height: 100%;
	border: 0px;
}

a 			{ color: #000; text-decoration: none; font-weight:normal;} 
a:hover		{ color: #000; text-decoration: underline; }

.userAlert{
	float:right;

}


/* title frame */

.titleContent { padding: 6px 0 6px 6px; }

.banner
{
	font-size: 12px;
	font-family: Trebuchet MS, verdana, arial;
	color: #333;
}

.banner .title{
	font-size:1.2em;
	font-weight:bold;
}

.banner .info{
	font-size:0.9em;
}

.banner .email{
	font-weight:bold;
}

/* index frame */

.indexContent {
	width:95%;
	padding-top:6px;
	padding-bottom:6px;
}

.indexInfo {
	font-size: 11px;
	font-family: Trebuchet MS, verdana, arial;
	padding: 0 0 0 6px;
}

.indexInfo .filename {
	color: #000;
}

.indexInfo .date {
	color: #666;
}

/* file info */

#imageInfo{
	width: 461px;
	font-family: Trebuchet MS, verdana, arial;
	padding: 0 6px 0 6px;
}

.content {
	font-size:11px;
/*	color: #333333;*/

	padding-top:6px;
	padding-bottom:6px;
}

.header{
	font-size:9px;
	font-weight:bold;
	color: #999;
}

.contentLast {
	font-size:11px;
/*	color: #333333;*/
	padding-top:6px;
}

/* feedback */

.feedback {
	width: 461px;
	font-family: Trebuchet MS, verdana, arial;
	padding: 6px 6px 0 6px;
}

.checkBoxText
{
	font-size: 11px;
	color: #000000;
}
.button {
	font-weight:bold;
	font-size: 11px;
	color:#ffffff;
	width:100%;
	background-color:#D6BA8B;
}
	

